@use 'variables';

.footer {
    height: 20vh;
    background-color: variables.$backgroundColor;
    display: flex;
    justify-content: space-evenly;

    &__content {
        max-width: 980px;
        padding: 56px;
        text-align: center;

        img {
            width: 100px;
        }

        @media (max-width:768px) {
            padding: 12px;
        }

        @media (max-width:1280px) {
            padding: 12px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            padding: 24px;
            justify-content: center;
            
            &__item {
                a {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: variables.$fontSubtitle;
                    color: variables.$blank;
                    text-decoration: none;
                    cursor: pointer;

                    @media (max-width:768px) {
                        font-size: 12px;
                    }

                    &:hover {
                        color: lighten(variables.$primary, 15);
                    }
                }
            }
        }

        p {
            font-family: variables.$fontRounded;
            padding-bottom: 5vh;
            
            @media (max-width:768px) {
                font-size: 12px;
            }
        }
    }
}