@use 'variables';

.manga {
    &__content {
        max-width: 1024px;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        &__title {
            font-size: 120px;
            font-family: variables.$fontHeavy;
            text-transform: uppercase;
        }
    }
}