.misc {
    img {
        position: absolute;
        overflow-x: hidden;

    }
    
    &--right{
        max-width: 240px;
        right: 32px;
        top: 140%;

        @media (max-width: 1280px) {
            display: none;
            visibility: hidden;
            left: 25%;
        }

        &:last-child {
            z-index: 0;
            max-width: 420px;
            width: 100%;
            transform: rotate(18deg);
            top: 240%;
            opacity: .3;

            @media (max-width: 1280px) {
                display: inline;
                visibility: visible;
                max-width: 280px;
                top: 180%;
                left: 55%;
            }
        }
    }

    &--left{
        z-index: -1;
        left: 32px;
        max-width: 480px;
        transform: rotate(-22deg);
        width: 100%;
        top: 220%;
        opacity: .3;

        @media (max-width: 1280px) {
            z-index: 0;
            visibility: visible;
            max-width: 320px;
            top: 190%;
        }
    }

    @media (max-width: 768px) {
        display: none;
        visibility: hidden;
    }
}