@use 'variables';
@use 'reset';
@use 'misc';
@use 'hero';
@use 'header';
@use 'characters';
@use 'manga';
@use 'culture';
@use 'footer';

body {
    background-color: variables.$backgroundColor;
    color: variables.$blank;
    overflow-x: hidden;
}

.main {
    background-position: fixed;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(variables.$backgroundColor, 1)), url(../../build/imgs/background__neo-tokyo-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        background-position: center;
    }
}